<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sapphyx.gsd.com.drywall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ActivityTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="DetailedWallpaperActivity"
            android:label="@string/title_activity_detailed_wallpaper"
            android:icon="@drawable/place_holder"
            android:theme="@style/ActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DetailedWallpaperActivity" />
        </activity>

        <activity
            android:name=".development.Body"
            android:label="Development"
            android:theme="@style/ActivityTheme">
        </activity>

        <activity
            android:name=".PickerActivity"
            android:label="Choose wallpaper from"
            android:theme="@style/DialogTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PickerActivity" />
        </activity>

        <activity
            android:name=".DrySettings"
            android:label="Settings"
            android:theme="@style/Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DrySettings" />
        </activity>

    </application>

</manifest>